@import url(./globals.min.css);

/****** TEMPLATE *******/

.jd_theme__template{
      width: 100%;
      height: 100vh;
      min-height: 1080px;
      position: relative;
      background: var(--dark-200);
}

/******** BANNER ********/

.jd_theme__banner{
      width: 100%;
      height: 294px;
      overflow: hidden;
      position: absolute;
}

.jd_banner__img{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
}

.jd_banner__img:before{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(rgba(31,35,52, .75) 20%, rgba(31,35,52,1));
}

/******** HEADER *******/

.jd_theme__header{
      width: 100%;
      height: auto;
      margin-top: 7rem;
      display: inline-block;
}

.jd_container.header{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      z-index: 5;
}

.jd_header__user{
      position: relative;
}

.jd_user__wrapper{
      display: flex;
      gap: 1rem;
}

.jd_user__avatar_box,
.jd_user__avatar{
      width: 158px;
      height: 158px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--dark-300);
      border-radius: 50%;
}

.jd_user__avatar_box{
      overflow: hidden;
}

.jd_user__avatar_box img{
      transition: .2s;
}

.jd_user__avatar:hover .jd_user__avatar_box img{
      transform: scale(1.3);
}

.jd_user__avatar{
      box-shadow: 0 0 0 40px var(--dark-300);
      position: relative;
      margin: 40px;
}

.jd_user__avatar:after{
      width: 168px;
      height: 168px;
      border-radius: 50%;
      border-right: solid 2px var(--theme);
      border-bottom: solid 2px transparent;
      border-left: solid 2px var(--theme);
      border-top: solid 2px transparent;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: spinner 4s linear infinite;
}

@keyframes spinner{
      100%{
            transform: translate(-50%, -50%) rotate(360deg)
      }
}

.jd_user__data{
      padding-top: 3rem;
}

.jd_user__data h1{
      font-size: 2rem;
      color: var(--text-light);
      font-weight: 400;
      font-family: var(--ft-5);
}

.jd_user__data p{
      font-size: 1rem;
}

.jd_user__data strong{
      font-size: 1.2rem;
      color: var(--theme);
      display: block;
}

.jd_user__data_location{
      display: flex;
      align-items: flex-end;
      gap: 5px;
}

.jd_user__data_location i{
      width: 20px;
      height: 30px;
      display: flex;
      color: var(--theme);
      font-size: 2rem;
}

.jd_user__data_location span{
      font-size: .85rem;
      line-height: .85rem;
}

.jd_user__find{
      width: 220px;
      height: 38px;
      background: var(--theme);
      position: absolute;
      bottom: .5rem;
      left: 120px;
      z-index: -1;
}

.jd_user__find a{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: var(--light);
      font-size: .75rem;
      text-transform: uppercase;
      padding-right: 2.5rem;
}

.jd_header__crush{
      position: relative;
}

.jd_crush__box{
      width:70px;
      height: 75px;
      position: relative;
      background: var(--theme);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 3px;
      border-radius: 2px;
      margin-left: 30px;
      animation: move 1s ease-in-out infinite;
}

.jd_crush__box:after{
      width: 10px;
      height: 10px;
      background: inherit;
      left: calc(50% - 5px);
      bottom: -5px;
      transform: rotate(45deg);
}

@keyframes move{
      0%{
            transform: translateY(0);
      }
      50%{
            transform: translateY(-20px);
      }
      100%{
            transform: translateY(0);
      }
}

.jd_crush__avatar{
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 2px;
}

.jd_crush__data{
      margin-top: 2rem;
      position: relative;
}

.jd_crush__data span{
      width: 150px;
      height: 38px;
      border-radius: 19px;
      background: var(--dark-300);
      display: flex;
      align-items: center;
      padding-left:  2rem;
      color: var(--theme);
      font-size: .85rem;
}

.jd_crush__data a,
.jd_crush__data a i{
      width:  50px;
      height: 50px;
      display: flex;
      border-radius: 50%;
      transition: .2s;
}

.jd_crush__data a:hover i{
      animation: pulse_crush .5s ease-in-out infinite;
}

@keyframes pulse_crush{
      0%{
            transform: scale(1);
      }
      50%{
            transform: scale(1.3);
      }
      100%{
            transform: scale(1);
      }
}

.jd_crush__data a{
      background: var(--theme);
      position: absolute;
      right: 0;
      top: calc(50% - 25px);
      color: var(--light);
      font-size: 1.2rem;  
}

.jd_crush__data a:before{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border-top: solid 2px var(--theme);
      border-right: solid 2px transparent;
      border-bottom: solid 2px var(--theme);
      border-left: solid 2px transparent;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: spinner 4s linear infinite;
}

.jd_theme__content{
      margin-top: 50px;
      position: relative;
      z-index: 10;
}

.jd_container.content{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
}

.jd_description p{
      font-size: .9rem;
      line-height: 1.3rem;
}

.jd_networks{
      margin-top: 1.4rem;
}

.jd_networks h3{
      font-family: var(--ft-2);
      font-weight: 300;
}

.jd_networks__navigate{
      margin-top: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: .5rem;
}

.jd_networks__navigate a,
.jd_networks__navigate a i{
      width: 34px;
      height: 34px;
      display: flex;
}

.jd_networks__navigate a{
      background: var(--theme);
      color: var(--light);
      font-size: 1.2rem;
      position: relative;
}

.jd_content__col.right{
      display: flex;
      align-items: center;
      justify-content: center;
}

.jd_video{
      width: 400px;
      height: 234px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
}

.jd_video:before,
.jd_video:after{
      width: 35px;
      height: 35px;
      top: 0;
      border-top: solid 1px var(--theme);
}

.jd_video:before{
      left: 0;
      border-left: solid 1px var(--theme);
}

.jd_video:after{
      right: 0;
      border-right: solid 1px var(--theme);
}

.jd_corner{
      position: absolute;
      width: 100%;
      height: 35px;
      bottom: 0;
      left: 0;
      border-left: solid 1px var(--theme);
      border-right: solid 1px var(--theme);
}

.jd_corner:before,
.jd_corner:after{
      width: 35px;
      height: 1px;
      background: var(--theme);
      bottom: 0;
}

.jd_corner:before{
      left: 0;
}

.jd_corner:after{
      right: 0;
}

.jd_video__box{
      width: 380px;
      height: 214px;
      background: var(--dark-300);
      position: relative;
}

.jd_video__box:after{
      width: 60%;
      height: 50px;
      border-radius: 50%;
      background: var(--theme);
      left: 50%;
      bottom: -25px;
      transform: translateX(-50%);
      z-index: -1;
      filter: blur(25px);
      animation: smooke 4s ease-in-out infinite;
}

@keyframes smooke{
      0%{
            filter: blur(25px);
            opacity: 1;
      }
      50%{
            filter: blur(35px);
            opacity: .5;
      }
      100%{
            filter: blur(25px);
            opacity: 1;
      }
}

.jd_theme__friend{
      margin-top: 6rem;
}

.jd_container.friend{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
}

.jd_friend__title{
      position: relative;
      padding: .5rem 2rem;
      min-width: 320px;
      display: flex;
      align-items: center;
      justify-content: center;
}

.jd_friend__title:before,
.jd_friend__title:after{
      width: 35px;
      height: 100%;
      top: 0;
      border-top: solid 1px var(--theme);
      border-bottom: solid 1px var(--theme);
}

.jd_friend__title:before{
      left: 0;
      border-left: solid 1px var(--theme);
}

.jd_friend__title:after{
      right: 0;
      border-right: solid 1px var(--theme);
}

.jd_friend__title h2{
      text-transform: uppercase;
      font-weight: 200;
      font-family: var(--ft-1);
      letter-spacing: 15px;
      font-size: 3rem; 
      text-align: center;
      width: 100%;
      padding-left: 1rem;
}

.jd_friend__content{
      position: relative;
      width: 80%;
      max-width: 580px;
}

.jd_friend__slider{
      width: 100%;
}

.slick-slide{
      margin-right: 30px;
}

.jd_friend__card{
      width: 168px;
      height: 245px;
      box-shadow: 0 0 0 2px var(--dark-100) inset;
      transition: .2s;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .2s;
      border-radius: 6px;
}

.jd_friend__card:hover{
      box-shadow: 0 0 0 2px var(--theme) inset;
}

.jd_card__inner{
      width: 156px;
      height: 233px;
      background: var(--dark-300);
      position: relative;
      overflow: hidden;
      border-radius: 4px;
      margin: 6px;
}

.jd_card__avatar{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
}

.jd_card__avatar img{
      width: auto;
      height: 100%;
      filter: saturate(0);
      transition: .2s;
}

.jd_friend__card:hover .jd_card__avatar img{
      filter: saturate(1);
}

.jd_card__avatar:before{
      width:200%;
      height: 120px;
      left: 50%;
      bottom: -60px;
      background: var(--dark-300);
      transition: .2s;
      z-index: 2;
      transform: translateX(-50%);
      filter: blur(25px);
      animation: friend_pulse 4s ease-in-out infinite;
}

@keyframes friend_pulse{
      0%{
            bottom: -60px;
            filter: blur(25px);
      }
      50%{
            bottom: -40px;
            filter: blur(35px);
      }
      100%{
            bottom: -60px;
            filter: blur(25px);
      }
}

.jd_friend__card:hover .jd_card__avatar:before{
      background: var(--theme);
}

.jd_card__inner h2{
      position: relative;
      text-transform: uppercase;
      color: var(--text-light);
      text-align: center;
      margin-top: 9rem;
      z-index: 10;
      font-weight: 200;
      font-size: .9rem;
      font-family: var(--ft-5)

}

.jd_card__inner a{
      position: absolute;
      color: var(--theme);
      z-index: 10;
      text-transform: uppercase;
      background: var(--light);
      padding: 0 1rem;
      height: 26px;
      line-height: 30px;
      bottom: -50px;
      left: 50%;
      transform: translateX(-50%);
      transition: .2s;
      border-radius: 2px;
}

.jd_friend__card:hover .jd_card__inner a{
      bottom: 2rem;
}

.jd_btn__slide,
.jd_btn__slide i{
      width: 36px;
      height: 36px;
      display: flex;
}

.jd_btn__slide{
      position: absolute;
      top: calc(50% - 18px);
      border-radius: 50%;
      color: var(--theme);
      font-size: 1.6rem;
}

.jd_btn__slide.left{
      left: -60px;
}

.jd_btn__slide.right{
      right: -45px;
}

.jd_theme__footer{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 4rem;
}

/******** LOADING *******/

.jd_theme__load{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: var(--dark-300);
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: center;
}

.jd_load__content{
      border-bottom: solid 1px var(--theme);
}

.jd_load__content p{
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: 1rem;
      gap: 3px;
      color: var(--theme);
}

.jd_load__content p span{
      position: relative;
      animation: loading 2s ease-in-out infinite;
      animation-delay: calc(.1s * var(--i));
}

@keyframes loading{
      0%{
            transform: translateY(0);
      }
      15%{
            transform: translateY(-20px);
      }
      30%{
            transform: translateY(0);
      }
      100%{
            transform: translateY(0);
      }
}